
<br/>
<center>
    <h2>Senhor dos Anéis</h2>
</center>
<br/>
<div class="formCadastrar">
    <form action="/add" method="POST" enctype="multipart/form-data"> <!--  -->

        <center>
            <h3>Cadastrar lugares em <br/>Senhor dos Anéis</h3>
        </center>

        <label>Nome do lugar </label>
        <input type="text" name="titulo" class="form-control">
        
        <br/>

        <label>Imagem</label>
        <input type="file" name="conteudo" class="form-control">    

        <br/><br/>

        <center>
            <button type="submit" class="btn btn-primary btn-sm" title="Deseja cadastrar esse lugar?">Cadastrar Lugar</button>
        </center>
    </form>
</div>

