
<br/>

<h4 style="margin-left: 30%;">Criar conta!</h4>

<br/>

<div class="card" style="margin-left: 30%; width: 600px;">
    <div class="card-body">
        <form action="/criarConta2" method="POST">
            
            <label for="nome">Informe o Nome: </label>
            <input type="text" class="form-control" maxlength="50" name="nome" required>
            
            <label for="email">Informe o Email: </label>
            <input type="email" class="form-control" maxlength="80" name="email" required>
            
            <label for="senha">Informe a Senha: </label>
            <input type="password" class="form-control" maxlength="50" name="senha" required>

            <br/>

            <button class="btn btn-success btn-sm" type="submit">Criar Conta</button>

        </form>
    </div>
</div>